In [11]:
import seaborn as sns
import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

%matplotlib inline

In [12]:
df = pd.read_csv('train.csv', usecols=['Id', 'YrSold', 'LotArea', 'SalePrice', 'MSSubClass'])

df.head()

# с чем можно работать
#df = pd.get_dummies(df, columns=['MSZoning', 'Street','Alley','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive','PoolQC','Fence','MiscFeature','SaleType','SaleCondition'])

   Id  MSSubClass  LotArea  YrSold  SalePrice
0   1          60     8450    2008     208500
1   2          20     9600    2007     181500
2   3          60    11250    2008     223500
3   4          70     9550    2006     140000
4   5          60    14260    2008     250000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 5 columns):
Id            1460 non-null int64
MSSubClass    1460 non-null int64
LotArea       1460 non-null int64
YrSold        1460 non-null int64
SalePrice     1460 non-null int64
dtypes: int64(5)
memory usage: 57.1 KB

In [16]:
df_train = df.drop(['Id'], axis=1)

In [17]:
y = df_train['SalePrice']
df_test_preproc=df_train.drop(['SalePrice'], axis=1)
from sklearn.model_selection import train_test_split
X, X_test, y, y_test = train_test_split(df_test_preproc, y, test_size=0.33, random_state=42)

In [18]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report

C:\Users\Ildar\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

model = DecisionTreeClassifier()                    # инициализируем модель
model.fit(X, y)                                     # обучаем модель
predict = model.predict(X_test)                     # делаем предсказание
predict_proba1 = model.predict_proba(X_test)
#print('precision', precision_score(y_test, predict))
#print('recall', recall_score(y_test, predict))
#print('accuracy', accuracy_score(y_test, predict))
#print('f1', f1_score(y_test, predict))

In [27]:
df_test_1 = pd.read_csv('test.csv', usecols=['Id', 'YrSold', 'LotArea','MSSubClass'])
df_test_1.head()

   MSSubClass  LotArea  YrSold
0          20    11622    2010
1          20    14267    2010
2          60    13830    2010
3          60     9978    2010
4         120     5005    2010

In [ ]:
df_test=df_test_1.drop(['Id'], axis=1)

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

predict_test = model.predict(df_test_1)

In [33]:
# Запишем все по файлам для загрузки на Kaggle
df_id=pd.read_csv('test.csv', usecols=['Id'])

df_predict = pd.DataFrame(predict_test)
df_pr=df_predict[0]
# Объединяем таргет и ID в датафрейм
df_predict1=pd.concat([df_id, df_pr], axis=1)
df_predict1.columns = ['Id', 'SalePrice']
df_predict1.to_csv('predict1.csv', sep=',', encoding='utf-8', index=False)

In [70]:
#df_test_1 = df_test_1.fillna(df_test_1.mean())

In [74]:
                 # делаем предсказание

ValueError: Number of features of the model must match the input. Model n_features is 289 and input n_features is 270